<form action="/rotaenviocadastro" method="POST">
    <p>CADASTRO</p>
    <p>EMAIL: </p>
    <input type="email" name="emailcadastro" required>
    <p>SENHA: </p>
    <input type="password" name="senhacadastro" required>
    <button type="submit">CADASTRAR-SE</button>
</form>