<h1>Adição de item ao estoque</h1>
<form action="/additem" method="POST">
    <input type="text" name="Codigo" placeholder="Codigo  do Produto"> <br><br>
    <input type="text" name="Descricao" placeholder="Descricao do Produto"> <br><br>
    <input type="text" name="Quantidade" placeholder="Quantidade de itens"> <br><br>

    <input type="text" name="Preco" placeholder="Preço do Produto"> <br><br>
    <input type="text" name="Pcompra" placeholder="Preço de Compra"> <br><br>
    <input type="submit" Enviar>
</form>